<%= form_with(model: master_mealtype, local: true) do |form| %>
  <% if master_mealtype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(master_mealtype.errors.count, "error") %> prohibited this master_mealtype from being saved:</h2>

      <ul>
      <% master_mealtype.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
