 <div class="form-gap"></div>
<div class="container-fluid">
  <div class="row mar" >
    <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default" style="margin-top: 30px;">
              <div class="panel-body">
                <div class="text-center">
                  <h3><i class="glyphicon glyphicon-lock" style="font-size: 60px;"></i></h3>
                  <h2 class="text-center ff">Forgot Password?</h2>
                  <p class="ff">You can reset your password here.</p>
                  <div class="panel-body">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <div class="field">
          <div class="form-group">
                        <div class="input-group">
                          <span class="input-group-addon"><i class="glyphicon glyphicon-envelope color-blue"></i></span>
    <input  class="form-control" autofocus="autofocus" autocomplete="email" type="email" value="" name="user[email]" id="user_email" required="true" />
  </div>
  <div class="actions">
      <div class="form-group">
    <input style="outline: none;" class="btn btn-lg btn-info btn-block" type="submit" name="commit" value="submit" data-disable-with="Submit" />
  </div>
  </div>
<% end %>
  <a style="float: left;" class="btn btn-lg btn-primary" href="/users/sign_in">Log in</a>
  <a style="float: right;" class="btn btn-lg btn-primary" href="/users/sign_up">Sign up</a><br />
</div>
              </div>
                </div>
              </div>
            </div>
          </div>
  </div>
</div>
    
<!--  <script type="text/javascript">
  $(document).ready(function(){
    $('#new_passwords').validate({

    });
    $( "#user_email" ).rules( "add", {
    required: true,
  messages: {
    required: "*Email is mandatory"
  }
  });
  </script>    -->