
  <div class="l1 container-fluid">
    <div class="l2" style="background-image: url('/assets/r1.jpeg');">
      <div class="l3">
          <span class="l5">
            <i class="glyphicon glyphicon-user"></i>
          </span>

<span class="l6 p-d">
            Login
</span>


<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:id => 'new_sessions'}) do |f| %>
 
  
<div class="w1 validate-input" data-validate = "Enter email">
<input class="i1 out" autofocus="autofocus" autocomplete="email" placeholder="Email" id="email" type="email" value="" name="user[email]" aria-required="true">
<span class="f1"  data-placeholder="&#x2709;" ></span>
</div>
<div class="w1">
<input class="i1 out" autocomplete="off" placeholder="Password" id="password" type="password" name="user[password]" aria-required="true">
<span class="f1" data-placeholder="&#x270f;"></span>
</div>

  <% if devise_mapping.rememberable? -%>
  <div class="contact100-form-checkbox">
    <input name="user[remember_me]" type="hidden" value="0">
    <input type="checkbox" value="1" name="user[remember_me]" id="user_remember_me">
      <label class="rem" for="user_remember_me">Remember me</label>
    </div>
  <% end -%>

   <%- flash.each do |name, msg| -%>
    <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
  <%- end -%> 

          <div class="c5">
    <%= f.submit "Sign In", class: "l8" %>
  </div>
<% end %>


<div class="forg">
<a class="txt1" onclick="document.getElementById('id01')" href="/users/password/new">Forgot your password?</a></div>

<div class="si">
<a class="txt1" href="/users/sign_up">Sign up</a>
</div>
</div>
</div>
</div>

<style type="text/css">
  .error{
    top: 30px;
    color: black;
  }
  ::placeholder{
    color: white;
  };
</style>

<script type="text/javascript">
  $(document).ready(function(){
    $('#new_sessions').validate({

    });
    $( "#email" ).rules( "add", {
    required: true,
  messages: {
    required: "*Email is mandatory"
  }
  });
    $( "#password" ).rules( "add", {
  required: true,
  messages: {
    required: "*Password is required",
  
  }
  });
  });
</script>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>